{% load static %}
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/mage/calendar.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/css/styles-m.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/owl.carousel/assets/owl.carousel.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/fancybox/css/jquery.fancybox.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/icon-fonts/css/porto-icons-codes.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/simple-line-icons/css/simple-line-icons.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/icon-fonts/css/animation.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/font-awesome/css/font-awesome.min.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/Magefan_Blog/css/blog-m.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/Magefan_Blog/css/blog-custom.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/Smartwave_Dailydeals/css/style.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/WeltPixel_Quickview/css/magnific-popup.css' %}" />
<link  rel="stylesheet" type="text/css"  media="screen and (min-width: 768px)" href="{% static 'pub/static/css/styles-l.css' %}" />
<link  rel="stylesheet" type="text/css"  media="print" href="{% static 'pub/static/css/print.css' %}" />
<link  rel="icon" type="image/x-icon" href="https://www.portotheme.com/magento2/porto/pub/static/Magento_Theme/favicon.ico" />
<link  rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Shadows+Into+Light" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;v1&amp;subset=latin%2Clatin-ext" type="text/css" media="screen"/>
<link href="http://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800" rel="stylesheet">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;v1&amp;subset=latin%2Clatin-ext" type="text/css" media="screen"/>
<link rel="stylesheet" type="text/css" media="all" href="{% static 'pub/media/porto/web/bootstrap/css/bootstrap.optimized.min.css' %}">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'pub/media/porto/web/css/animate.optimized.css' %}">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'pub/media/porto/web/css/header/type3.css' %}">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'pub/media/porto/web/css/custom.css' %}">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'pub/media/porto/configed_css/design_demo3_en.css' %}">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'pub/media/porto/configed_css/settings_demo3_en.css' %}">
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/css/styles.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'pub/static/css/print.css' %}" />
<link  rel="stylesheet" type="text/css"  media="all" href="{% static 'vendor/fontawesome-free/css/all.css' %}" />
