<footer class="page-footer">
    <div class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="custom-block">
                <div class="widget widget_text">
                  <div class="textwidget">
                    <div class="d-md-flex align-items-center">
                      <div class="pr-md-5">
                        <h5 class="widget-title align-left text-uppercase font-weight-bold mb-1"
                          style="letter-spacing: .075em;color:#22232D;font-size:14px;line-height: 20px;">Subscribe
                          newsletter</h5>
                        <p class="mb-md-0" style="margin-top: 0;line-height: 22px;letter-spacing: 0;">Get all the
                          latest information on Events, Sales and Offers.</p>
                      </div>
                      <div class="block newsletter">
                        <div class="content">
                          <form class="form subscribe"
                            action="" method="post" id="newsletter-validate-detail">
                            <div class="field newsletter">
                              <label class="label" for="footer_newsletter"><span>Sign Up for Our Newsletter:</span></label>
                              <div class="control">
                                <input name="email" type="email" id="footer_newsletter" required
                                  placeholder="Email Address" />
                              </div>
                            </div>
                            <div class="actions">
                              <button class="action subscribe primary" title="Subscribe" type="submit">
                                <span>Subscribe</span>
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="widget follow-us">
                  <div class="share-links">
                    <a href="#" target="_blank" title="Facebook" class="share-facebook">Facebook</a>
                    <a href="#" target="_blank" title="Twitter" class="share-twitter">Twitter</a>
                    <a href="#" target="_blank" title="Instagram" class="share-instagram">Instagram</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="widget contact-info">
                <h3 class="widget-title">CONTACT INFO</h3>
                <div class="contact-info contact-info-block">
                  <ul class="contact-details">
                    <li><i class="far fa-dot-circle"></i> <strong>ADDRESS:</strong> <span>123 Street Name, City,
                        England</span></li>
                    <li><i class="fab fa-whatsapp"></i> <strong>PHONE:</strong> <span>(123) 456-7890</span></li>
                    <li>
                      <i class="far fa-envelope"></i> <strong>EMAIL:</strong> <span><a
                          href="mailto:mail@example.com">mail@example.com</a></span>
                    </li>
                    <li><i class="far fa-clock"></i> <strong>WORKING DAYS/HOURS:</strong> <span>Mon - Sun / 9:00 AM -
                        8:00 PM</span></li>
                  </ul>
                </div>
              </div>
              <div class="widget follow-us">
                <div class="share-links">
                  <a href="#" target="_blank" title="Facebook" class="share-facebook">Facebook</a>
                  <a href="#" target="_blank" title="Twitter" class="share-twitter">Twitter</a>
                  <a href="#" target="_blank" title="Linkedin" class="share-linkedin">Linkedin</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="widget widget_text">
                <h3 class="widget-title">My Account</h3>
                <div class="textwidget">
                  <div class="row d-inline-flex">
                    <div class="col-xl-6">
                      <ul>
                        <li><a href="{% url 'root:about' %}">About Us</a></li>
                        <li><a href="{% url 'root:contact' %}">Contact Us</a></li>
                        <li><a href="#">My Account</a></li>
                      </ul>
                    </div>
                    <div class="col-xl-6">
                      <ul>
                        <li><a href="#">Orders History</a></li>
                        <li><a href="#">Advanced Search</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="widget widget_text">
                <h3 class="widget-title">Main Features</h3>
                <div class="textwidget">
                  <div class="row d-inline-flex">
                    <div class="col-xl-6">
                      <ul>
                        <li><a href="#">Super Fast WordPress Theme</a></li>
                        <li><a href="#">1st Fully working Ajax Theme</a></li>
                        <li><a href="#">36 Unique Shop Layouts</a></li>
                      </ul>
                    </div>
                    <div class="col-xl-6">
                      <ul>
                        <li><a href="#">Powerful Admin Panel</a></li>
                        <li><a href="#">Mobile &amp; Retina Optimized</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="custom-block f-right"><img class="bottom-payment-icons"
              src="/static/pub/media/wysiwyg/smartwave/porto/footer/shop2_payment_logo.png" alt="" />
            <style>
              @media(min-width:768px) {
                .bottom-payment-icons {
                  display: block;
                  float: right;
                }
              }
            </style>
          </div>
          <address>©Copyright 2023 Applemaster. All Rights Reserved. Powered by <a href="https://vstech.co.ke">VSTech Limited</a></address>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" id="totop"><em class="porto-icon-up-open"></em></a>
  </footer>