{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HMHTDHPHJN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-HMHTDHPHJN');
    </script>
    <script>
        var BASE_URL = '/';
        var require = {
            "baseUrl": "/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US"
        };
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Laurent Ouma, Jeff Odhiambo">
    {% block meta %}

    {% endblock %}
    {% include 'partials-1/css.html' %}
    {% include 'partials-1/js-head.html' %}
    <title>{% block title %}{% endblock %}{% if category %}{{ category }} - {% endif %}{% if title %}{{ title }} -{% endif %} Apple Master Kenya</title>
</head>

<body data-container="body"
    data-mage-init='{"loaderAjax": {}, "loader": { "icon": "/static/pub/static/version1627880338/frontend/Smartwave/porto/en_US/images/loader-2.gif"}}'
    class="cms-porto_home_3 layout-fullwidth wide mobile-sticky cms-index-index page-layout-1column">

    {% include 'partials-1/js-top.html' %}
    <div class="page-wrapper">
        {% include 'partials-1/header.html' %}
        {% include 'partials-1/breadcrumbs.html' %}
        <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>
            {% include 'partials-1/message.html' %}
            {% block content %}

            {% endblock %}
        </main>
        {% include 'partials-1/footer.html' %}
        {% block scripts %}
        {% endblock %}
        <script>
            var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?42866';
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = url;
            var options = {
                "enabled": true,
                "chatButtonSetting": {
                    "backgroundColor": "#23a455",
                    "ctaText": "Message Us",
                    "borderRadius": "25",
                    "marginLeft": "0",
                    "marginBottom": "50",
                    "marginRight": "50",
                    "position": "left"
                },
                "brandSetting": {
                    "brandName": "Apple Master Kenya",
                    "brandSubTitle": "Leading Provider of Computers & Accessories",
                    "brandImg": "https://www.new.applemaster.co.ke/static/icon.png",
                    "welcomeText": "Apple Masters, Inc.an online platform for electronics sales.",
                    "messageText": "{{page_title}} %0A %0AHello, I have a question about {{page_link}}",
                    "backgroundColor": "#23a455",
                    "ctaText": "Start Chat",
                    "borderRadius": "25",
                    "autoShow": false,
                    "phoneNumber": "254790616889"
                }
            };
            s.onload = function () {
                CreateWhatsappChatWidget(options);
            };
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        </script>
        <script src='//fw-cdn.com/2639186/3079828.js' chat='true'>
        </script>
    </div>
</body>

</html>